/* fix the bottom of navbar */

.sidebar {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border-color: white;
    float: left;
}

@media (min-width: 767px) {
    .sidebar {
        height: 100%;
    }
}
.sidebar-brand {
    display: block;
    text-align: center;
}

.sidebar .divider {
    background-color: rgba(0, 0, 0, .12);
    height: 1px;
}

.main {
    width: 100%; 
}

/* override navbar-brand */
.navbar-brand {
    padding: 10px 10px;
}


.order:after {
    /* Downward Triangle ~ Caret */
    content: "\25be";
}

table {
    border-spacing: 10px;
}

@font-face {
    font-family: "Fjord One";
    src: url("fonts/FjordOne-Regular.ttf");
}

body {
    padding-top: 70px;
    font-family: 'Fjord One', serif !important;
}


