/* fix the bottom of navbar */

#errmsg {
    color: red;
}

.sidebar {
    margin-bottom: 10px;
    background-color: white;
    border-color: white;
    float: left;
}

@media (min-width: 767px) {
    .sidebar {
        height: 100%;
    }
}

.main {
    width: 100%; 
}


.sidebar-brand {
    display: block;
    text-align: center;
}

.sidebar .divider {
    background-color: rgba(0, 0, 0, .12);
    height: 1px;
}


