
/*
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
.navbar {
    margin-bottom: ;
}
*/
/*
body {
    background: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

#errmsg {
    color: red;
}
