/* fix the bottom of navbar */
.navbar {
    margin-bottom: 0;
}

#errmsg {
    color: red;
}

#cms_navbar {
    width: 20%;
}
.cms_navbar_nav {
    float: none;
}
#cms_navbar_brand {
    float: none;
}
.navbar-fixed-left {
    position: fixed;
    height: 100%;
}
