{% extends 'admin/base.html' %}

{% set columns = list(zip(*result['description']))[0] %}

{% block article %}
    <div class="row">
        <header>
            <div class="col-sm-12">
                <h1>{% block article_title %}{% endblock %}</h1>
            </div>
        </header>
    </div>
    <div class="row">
        {% if result is not none %}
            <script>
                {% for col_name in columns %}
                    console.log({{ col_name }});
                {% endfor %}
            </script>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for col_name in columns %}
                                <th>{{ col_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in result['rows'] %}
                            <tr>
                                {% for col in row %}
                                    <td>{{ row[col] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <script>
                set_cookie("errmsg", "result is None", 60);
                console.log(get_cookie("errmsg"));
            </script>
            {% include 'errmsg.html' %}
            <script>
                document.write("result: " + "{{ result }}");
                document.write("{{ columns }}");
            </script>
        {% endif %}
    </div>
{% endblock %}

